
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SFProDisplay/regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SFProDisplay/medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
